<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Test Application</h1>

    <h3>App1</h3>
    <button onclick="location.href='inputform'">원하는 메세지 출력 기능</button>

    <h3>App2</h3>
    <button onclick="location.href='selection'">FlashAttribute를 이용한 Select 기능</button>
    <script>
        const result2 = `[[${ result2 }]]`;
        console.log(result2);
        if (result2) {
            alert(result2);
        }
    </script>
</body>
</html>