<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/common.css }" />
</head>
<body>
    <h1 align="center">제어문</h1>

    <h2>th:if, th:unless</h2>
    <h3>
        th:if는 변수 표현식의 OGNL을 활용한 조건식으로 조건문을 작성하면 결과가 true일 때 해당 태그범위가 처리된다.
        th:unless는 표현식의 OGNL을 활용한 결과가 false일 때 해당 태그 범위가 처리된다.
    </h3>

    <!-- 타임리프는 else나 else if가 없다. -->
    <p th:if="${ num > 0 }">넘어온 값은 0보다 크다.</p>      <!-- 조건에 해당되면 -->
    <p th:if="${ num < 0 }">넘어온 값은 0보다 작다.</p>
    <!-- 조건식이 false면 그려준다. -->
    <p th:unless="${ num < 0 }">넘어온 값은 0보다 크다.</p>   <!-- 조건에 해당하지 않으면 -->

    <th:block th:if="${ str=='사과' }">   <!-- th:block을 사용할 수도 있다. -->
        <p>사과 좋아요!</p>
    </th:block>
    <th:block th:if="${ str=='바나나' }">
        <p>바나나 좋아요!</p>
    </th:block>
</body>
</html>